<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kuruma.kurumarket">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@drawable/kurumafox"
        android:label="@string/app_name"
        android:roundIcon="@drawable/kurumafox"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light">
        <activity android:name=".WelcomeActivity"></activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".ViewPagerActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PasswordResetActivity" />
        <activity android:name=".MemberInitActivity" />
        <activity android:name=".HistoryActivity" />
        <activity android:name=".MainActivity" />

        <service android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Sample AdMob app ID: ca-app-pub-3940256099942544~3347511713 -->
        <!-- Release AdMob app ID: ca-app-pub-6754052115866718~2762220518 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>